.category-page {

    p {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #000;
        font-weight: 500;
    }

    span {
        font-weight: normal;
        margin-right: 17px;
    }
    
}