.recipe-card {
    color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px auto;
    padding-left: 0px;
    padding-right: 0px;

    .card-subtitle {
        display: grid;
    }

    svg {
        margin-right:0.4em;
        margin-bottom: 0.1em;
    }

    .count-info {
        margin-right: 1.8em;
    }

    .card-title {
        font-family: 'Roboto', sans-serif;
        font-size: 1.25em;
        font-weight: 500;
        color: #000;
    }

    .card-box {
        height: 180px;
        width: 500px;
        color: #666666;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.23);
    }

    .card-box button {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .recipeImg {
        position: relative;
        top: -101px;
        right: -21px;
        width: 180px;
        height: 180px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }


}