// Colors
$body-color: #222;
$secondary: #222;
$primary: #E92222;

$enable-prefers-reduced-motion-media-query: false;

// Button

$btn-border-radius: 30px;
$btn-border-width: 1px;
$btn-padding-y: 10px;
$btn-padding-x: 19px;
$btn-font-size: 14px;

// Inputs

$input-group-addon-bg: #fff;
$input-border-radius: 20px;
$input-btn-focus-width: 0px;
$input-focus-border-color:none;
$input-border-color: #E4E4E4;
$input-placeholder-color:  #9A9A9A;

// Cards

$card-border-width: 0px;
$card-spacer-y: 5px;
$card-spacer-x: 1.25em;

body .btn-primary {
    background-color: #fff;
    color: #E92222;
}

body .header .input-group-text {
    border-right: none;
}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1250px
)


