html, body, #root, .container {
    height: 100%;
}

body {
    background: linear-gradient(to top right, #FFEBCD, #F5DEB3);
}

.layout {
    background: #fff;
    margin: 0px auto;
    padding: 0px;

    .header {
        padding: 25px 55px 25px 55px;
        height: 150px;
        
        .headerLinks {
            margin-top: 40px;
        }
        
        a {
            float: right;
            text-decoration: none;
            margin-left: 20px;
            color: #fc3a3b;
            font-size: 16px;
            text-align: right;
        }

        img  {
            float: left;
            height: 100px;
        }
    }

    .menu {
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
        text-align: center;
        // border-top: 1px solid #f2eeee;
        // border-bottom: 1px solid #f2eeee;
    }

    .tabNav {
        text-align: center;
        margin: 5px 25px;
        font-size: 0.95em;
        font-weight: 700;
        text-transform: uppercase;
        font-style: bold;
    }

    &-content {
        padding: 2em;
    }    
}